/*
 * CSS for the sp_postMedia class
 * Used in front-end posts
 */
 
 .sp_browse{ display: none; }
 .drop_indicator{ position: absolute; top: 30%; left: 40%;}
 .sp_Data { width: 100%; clear: both; }
 .sp_attachments{ clear: both; display: block; }
 .sp_media_desc { float: left; padding: 5px; }
 .sp_mediaCaption{margin: 0px;overflow: hidden; max-height: 15px;}
	.sp_media_thumb{
 	float: left;
 	width: 100px;
 	max-width: 100px;
 	overflow: hidden;
 	padding: 5px;		
	}
 .gallery_thumb{ 
 	float: left; 
 	height: 90px; 
 	width: 100px;
 	max-width: 100px; 
 	max-height: 90px; 
 	/*overflow: hidden;*/
 	margin: 5px 5px 0px 5px;
 	text-align: center; 
 	position: relative;
 	padding: 5px;
 }
 div.gallery_thumb:hover{
 	background: #EEE;
 }
 
 .sp_media_desc{
		overflow: hidden;
		background:	#F6F6F6;
		border: 1px solid silver;
		padding: 5px;
		border-radius: 3px;
		width: 470px;
 }
 .sp_uploads{ position: relative; }
 .dropbox{
		width: 100%;
		min-height: 100px;
		border: 1px dashed silver;
		background: white;
 }
 .sp_media_webcam{
			margin-left: 20%;
			margin-right: 20%;
			text-align: center;
			padding: 5px;
			display: none;
			background: #F6F6F6;
			border: 1px solid silver;
			border-radius: 3px;
			margin-bottom: 10px;
 } 
 
 .sp_mediaDelete{
 	background: none;
 	display: none;
 	top: -3px;
 	right: -3px;
 	position: absolute;
 	cursor: pointer;
 }
 
 button.sp_mediaDelete:hover{
 	background: #F1F1F1;
 	color: red;
 	cursor: pointer;
 }
 
 button.webcamButton{border: 1px solid silver; background: inherit; }
 button.webcamButton:hover{background: white; cursor: pointer; color: green; }
 .videostream{width: 307px;height: 250px;}
 .screenshot{ width: 307px; height: 240px;}

/************************************************/
/*FROM CHART CSS FILE*/
/*
 body {
  font: 10px sans-serif;
}
*/
.arc path {
  stroke: #fff;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar{
	fill: #3b85c3;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: #98abc5;
  stroke-width: 1.5px;
}
.drop-zone {
    /*Sort of important*/
    width: 300px;
    /*Sort of important*/
    height: 50px;
   /* position:absolute;
    left:50%;
    top:100px;
    margin-left:-150px;*/
    border: 2px dashed rgba(0,0,0,.3);
    border-radius: 20px;
 	margin-bottom: 5px;
 	margin-top: 1px;
 	margin-left: 145px;
    font-family: Arial;
    text-align: center;
    position: relative;
    line-height: 30px;
    font-size: 20px;
    color: rgba(0,0,0,.3);
}
    /*#drop-zone input {
      
        position: absolute;
        
        cursor: pointer;
        left: 10px;
        top: 10px;
      
        opacity:0; 
    }*/

    /*highlights when mosued over*/
    .drop-zone.mouse-over {
        border: 2px dashed rgba(0,0,0,.5);
        color: rgba(0,0,0,.5);
    }
    .drop-zone.mouse-leave {
        border: 2px dashed rgba(0,0,0,.3);
        color: rgba(0,0,0,.3);
    }

.clickHere {
    position: absolute;
    cursor: pointer;
    left: 50%;
    top: 50%;
    margin-left: -55px;
    margin-top: 10px;
    line-height: 0px;
    color: rgba(0,0,0,.3);
    font-size: 12px;
    width: 100px;
    height: 10px;
    border-radius: 4px;
    /*background-color: #3b85c3;*/
}
.the_file{
	opacity: 0;
    position: absolute;
    cursor: pointer;
    margin-left: -177px;
    margin-top: -35px;
    /*line-height: 26px;*/
    font-size: 12px;
    width: 300px;
    height: 50px;
    border-radius: 4px;
    background-color: #3b85c3;

}


.button_s{
	display: inline-block;
	line-height: 26px; 
	text-align: center;
	cursor: pointer;
	color: white;
    font-size: 12px;
    width: 100px;
    height: 26px;
    border-radius: 4px;
    background-color: #3b85c3;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}
 
.remove_chart{
    margin-left: 80%;
}


.button_s:hover {
    background-color: #4499DD;
}

.upload_process{
	width: 300px;
    height: 40px;
   
    position: relative;
}

.the_chart{
	position:relative;		
}


.chart_chk{
	text-align: center;
	vertical-align: middle;
}

.form_container{
	position: relative;
	text-align: center;
	border: 2px dashed rgba(0,0,0,.3);
    border-radius: 2px;
	width: 100%;
    clear: both;
	margin-bottom: 2px;
}

.chart_wrapper{
   position: relative;
    text-align: center;
    border: 2px dashed rgba(0,0,0,.3);
    border-radius: 2px;
    width: 100%;
    clear: both;
    margin-bottom: 2px;
    
}

